.block-list-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    width: 100%;
    height: 35px;
    background-color: #538BFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
