html, body, h1, h2, p, li, a, div, form, input {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 15px;
}
  
p {
  font-size: 15px;
}

li {
  font-size: 15px;
}

#app { 
  display: grid;
  justify-items: center;
}

body {
  background-color: #041E3E;
}

.app-container {
  display: grid;
  row-gap: 40px;
  padding: 50px;
}

.app-container > section {
  display: grid;
}

.block-title {
    margin: auto 0; 
    padding:0;
    text-align: center;
    color: #fff;
}

.block-subtitle {
  margin: auto 0; 
  padding:0;
  text-align: center;
  color: #fff;
}

